.social-monster {}
.social-monster .dash {
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}
.social-monster .dash .title-h2 {
	font-size:23px;
	padding:9px 15px 4px 45px;
	line-height:29px;
	color:#464646;
	background:url('../images/dashboard/icons32.png') left 7px no-repeat;
}